*, html, body{
    margin: 0;
    padding:0;
    box-sizing:border-box;
    /* font-family: 'Nunito', sans-serif; */
}
.hero-bg{
    height: 100vh;
    background-image: url('../img/hero-bg-bookshelf.jpg');
    object-fit: cover;
    display: block;
    vertical-align: middle;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;

}
